@import "tailwindcss";

@theme {
  --color-rosewater: var(--rosewater);
  --color-flamingo: var(--flamingo);
  --color-pink: var(--pink);
  --color-mauve: var(--mauve);
  --color-red: var(--red);
  --color-maroon: var(--maroon);
  --color-peach: var(--peach);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-teal: var(--teal);
  --color-sky: var(--sky);
  --color-sapphire: var(--sapphire);
  --color-blue: var(--blue);
  --color-lavender: var(--lavender);
  
  --color-text: var(--text);
  --color-subtext-1: var(--subtext-1);
  --color-subtext-0: var(--subtext-0);
  
  --color-overlay-2: var(--overlay-2);
  --color-overlay-1: var(--overlay-1);
  --color-overlay-0: var(--overlay-0);
  
  --color-surface-2: var(--surface-2);
  --color-surface-1: var(--surface-1);
  --color-surface-0: var(--surface-0);
  
  --color-base: var(--base);
  --color-mantle: var(--mantle);
  --color-crust: var(--crust);
}

:root {
  /* Catppuccin Latte (Light) */
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;

  --text: #4c4f69;
  --subtext-1: #5c5f77;
  --subtext-0: #6c6f85;

  --overlay-2: #7c7f93;
  --overlay-1: #8c8fa1;
  --overlay-0: #9ca0b0;

  --surface-2: #acb0be;
  --surface-1: #bcc0cc;
  --surface-0: #ccd0da;

  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  /* Default theme application */
  color-scheme: light;
  background-color: var(--base);
  color: var(--text);
}

:root.dark {
  /* Catppuccin Macchiato (Dark) */
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;

  --text: #cad3f5;
  --subtext-1: #b8c0e0;
  --subtext-0: #9ca4bf;

  --overlay-2: #939ab7;
  --overlay-1: #8087a2;
  --overlay-0: #6e738d;

  --surface-2: #5b6078;
  --surface-1: #494d64;
  --surface-0: #363a4f;

  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    /* Catppuccin Macchiato (Dark) */
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;

    --text: #cad3f5;
    --subtext-1: #b8c0e0;
    --subtext-0: #9ca4bf;

    --overlay-2: #939ab7;
    --overlay-1: #8087a2;
    --overlay-0: #6e738d;

    --surface-2: #5b6078;
    --surface-1: #494d64;
    --surface-0: #363a4f;

    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
    
    color-scheme: dark;
  }
}
